body {
	width: 380px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
    max-width: 380px;
}

.inner {
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 125px ;
}
.inner1 {
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 250px ;
}

.img {
  margin-left: 5px;
  margin-right: 25px;
  margin-top: 3px;
  border-radius: 15px;
  width: 80px;	
}

.item {
	margin-top: -65px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.item1 {
	margin-left:3px;
	border-radius: 25px;
	border:1px solid #5E5A68 ;
	background-color:#5E5A68;
	display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.promText{
	text-align:left;
	font-size:18px;
	font-family: 'Ubuntu', sans-serif;
	color:white;
	word-wrap: break-word;
	margin-top:45px;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:150px;
	height:130px;
	width:365px;
	border:1px solid black ;

}

.item h2 {
	font-family: 'Ubuntu', sans-serif;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
  }
  .item h4 {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	position:relative;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
  }

.usercard {
	text-align: center;
}
.action-button {
	font-family: 'Ubuntu', sans-serif;
	font-style:normal;
	width: 178px;
	height: 45px;
	background-color: rgb(73, 71, 71); 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
  }
  .action-button:hover {
	background-color: #999;
  }
  
  .search-container {
	position: relative;
  }
  
  .search-input {
	width: 360px;
	height: 40px;
	font-size: 18px;
	border-radius: 12px;
	border: 2px solid rgb(73, 71, 71);
  }
  
  .search-icon {
	margin-right: 20px;
	color: rgb(73, 71, 71);
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
  }
  .item p {
	margin-top: 65px;
	padding-left:-150px;
	color:rgb(73, 71, 71) ;
  }
  .inner2 {
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 50px ;
}
.item {
  display: flex;
  
  overflow: hidden;
}
.inner2 h3 {
font-family: 'Ubuntu', sans-serif;
margin-left: 10px;	
}
.container h3{
	font-family: 'Ubuntu', sans-serif;
	margin-left: 10px;
}
.in{
	position: absolute;
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 60px;
	margin-left:100px;
	justify-content:start;	
}
.in6{
	padding-bottom: 15px;
	margin-left:100px;
	position: absolute;
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	justify-content:start;
}
.text{
	font-family: 'Ubuntu', sans-serif;
}
.promoholder{
	display: flex;
  align-items: center;
	background-color:#707070;
	position:absolute;
	margin-left:10px;
	margin-top:145px;
	width:300px;
	height:45px;
	border-radius: 15px;
}
.text1{
margin-left:5px;	
margin-right:10px;
}
#copybutton{
	background-color:#707070;
	margin-left:320px;
	margin-top:145px;
	position:absolute;
	border-radius: 10px;
	width: 45px;  
  height: 45px; 
  background-image: url("copy-icon-700-124804453-removebg-preview.png");
  background-size: cover;
}
#secondbutton{
	background-color:#707070;
	margin-left:10px;
	margin-right:8px;
	margin-top:200px;
	position:absolute;
	width: 360px;  
    height: 45px; 
	border-radius: 15px;
}
.subtext{
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	height: 150px;
    width: 365px;
	margin-top:160px;
	margin-left:5px;
	display:flex;
	position: absolute;
	word-break: break-all;
	justify-content: start;
}
.img5{
	margin-left: 5px;
	margin-right: 25px;
	margin-top:-70px;
	border-radius: 15px;
	width: 80px;
}
.in5{
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 120px;
}



