
body {
	background-color:rgb(23, 33, 43);
	width: 380px;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	colorScheme: var(--tg-color-scheme);


.container {
    max-width: 380px;
}
.inner0{
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 125px ;	
}
.inner {
	position: relative;
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 125px ;
}
.inner1 {
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 250px ;
}

.img {
  margin-left: 5px;
  margin-right: 25px;
  margin-top: 3px;
  border-radius: 15px;
  width: 80px;	
}
.promocode{
	color:rgb(239, 237, 238);
}

.item {
	margin-top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.item1 {
	border-radius: 25px;
	background-color:rgb(46, 52, 64);
	display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.promText{
	text-align:left;
	font-size:18px;
	font-family: 'Ubuntu', sans-serif;
	color:white;
	word-wrap: break-word;
	margin-top:45px;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:150px;
	height:130px;
	width:365px;

}

.item h2 {
	color:rgb(239, 237, 238);
	font-family: 'Ubuntu', sans-serif;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
  }
  .item h4 {
	color:rgb(239, 237, 238);
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	position:relative;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
  }

.usercard {
	text-align: center;
}
.action-button {
	color:rgb(239, 237, 238);
	font-family: 'Ubuntu', sans-serif;
	font-style:normal;
	width: 178px;
	height: 45px;
	background-color: rgb(73, 71, 71); 
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
  }
  .action-button:hover {
	background-color: #999;
  }
  
  .search-container {
	margin-top: 15px;
	position: relative;
  }
  
  .search-input {
	width: 360px;
	height: 40px;
	font-size: 18px;
	border-radius: 12px;
	border: none;
	background-color:rgb(239, 237, 238);
  }
  
  .search-icon {
	width: 35px;
	height: 35px;
	margin-right:10px;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	border-radius: 5px;
	border:none;

  }
  .item p {
	margin-top: 65px;
	padding-left:-150px;
	color:rgb(73, 71, 71) ;
  }
  .inner2 {
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 50px ;
}
.item {
  display: flex;
  
  overflow: hidden;
}
.inner2 h3 {
	color:rgb(239, 237, 238);
font-family: 'Ubuntu', sans-serif;
margin-left: 10px;	
}
.container h3{
	color:rgb(239, 237, 238);
	font-family: 'Ubuntu', sans-serif;
	margin-left: 10px;
}
.in{
	position: absolute;
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 60px;
	margin-left:100px;
	justify-content:start;	
}
.in6{
	color:rgb(239, 237, 238);
	padding-bottom: 15px;
	margin-left:100px;
	position: absolute;
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	justify-content:start;
}
.text{
	font-family: 'Ubuntu', sans-serif;
}
.promoholder{
	font-family: 'Ubuntu', sans-serif;
	display: flex;
    align-items: center;
	background-color:rgb(73, 77, 88);
	position:absolute;
	margin-left:10px;
	margin-top:145px;
	width:300px;
	height:45px;
	border-radius: 15px;
}
.text1{
color:rgb(239, 237, 238);
margin-left:5px;	
margin-right:10px;
}
.copybutton{
	font-family: 'Ubuntu', sans-serif;
	border: none;
	background-color:rgb(73, 77, 88);
	margin-left:320px;
	margin-top:145px;
	position:absolute;
	border-radius: 10px;
	width: 45px;  
  height: 45px; 
  background-image: url("copy-icon-700-124804453-removebg-preview.png");
  background-size: cover;
}
.secondbutton{
	color:rgb(239, 237, 238);
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	font-style:normal;
	background-color:rgb(81, 136, 193);
	margin-left:10px;
	margin-right:8px;
	margin-top:200px;
	position:absolute;
	width: 360px;  
    height: 45px; 
	border-radius: 15px;
	border: none;
}
.subtext{
	color:rgb(239, 237, 238);
	text-align:left;
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	height: 150px;
    width: 365px;
	margin-top:162px;
	margin-left:5px;
	display:flex;
	position: absolute;
	word-break: break-all;
	justify-content: start;
}
.img5{
	margin-left: 5px;
	margin-right: 25px;
	margin-top:-70px;
	border-radius: 15px;
	width: 80px;
}
.in5{
	font-family: 'Ubuntu', sans-serif;
  padding-bottom: 120px;
  color: rgb(239, 237, 238);
}
.in8{
	background-color:rgb(73, 77, 88);
	border:none;
	height:35px;
	width:265px;
	display:flex;
	margin-top:-80px;
    margin-left:80px;
	margin-bottom:90px;
	border-radius:5px;
}
.item8{
padding-left:10px;
}
.addpromo{
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	margin-top:-55px;
	margin-left:85px;

	
}
.inner9{
	margin-top: 8px;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 250px ;
}
.button{
	font-family: 'Ubuntu', sans-serif;
	border:none;
	text-align: center;
	align-items:center;
	height:35px;
	width:270px;
	display:flex;
	margin-top:-80px;
    margin-left:80px;
	margin-bottom:90px;
	border-radius:5px;
}
.in9{
	border:none;
	background-color:rgb(73, 77, 88);
	height:35px;
	width:265px;
	margin-top:-30px;
    margin-left:80px;
	margin-bottom:20px;
	border-radius:5px;
}
.button1{
	border:none;
	text-align: center;
	align-items:center;
	height:35px;
	width:270px;
	display:flex;
    margin-left:80px;
	border-radius:5px;
	font-family: 'Ubuntu', sans-serif;
}
#file-input{
	border:none;
	height:35px;
	width:265px;
	display:flex;
	margin-top:-75px;
    margin-left:80px;
	margin-bottom:90px;
}
.text5{
color: rgb(239, 237, 238);
font-family: 'Ubuntu', sans-serif;
}
.b{
	color: rgb(239, 237, 238);	
}

  
 


